# Streamlit Cloud Secrets Configuration Template
# Rename this file to .streamlit/secrets.toml and fill in your values

# Password Protection
pwd_on = "true"  # Set to "false" to disable password protection
password = "your_password_here"

# API Keys
openai_key = "your_openai_api_key_here"
groq_key = "your_groq_api_key_here"
